# Let's ignore 
.ipynb_checkpoints/
.DS_Store
1_ObjetoMulgrid/.ipynb_checkpoints/
2_ObjetoMulgridGmsh/.ipynb_checkpoints/
3_ObjetoMulgridElevs/.ipynb_checkpoints/
4_MulgridConGMSH_Elevs_Voronoi/.ipynb_checkpoints/
5_Objeto_t2data/.ipynb_checkpoints/
6_modelo2D/.ipynb_checkpoints/
7_modelo3D/.ipynb_checkpoints/
1_ObjetoMulgrid/.DS_Store
2_ObjetoMulgridGmsh/.DS_Store
3_ObjetoMulgridElevs/.DS_Store
4_MulgridConGMSH_Elevs_Voronoi/.DS_Store
5_Objeto_t2data/.DS_Store
6_modelo2D/.DS_Store
7_modelo3D/.DS_Store
